* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    background: rgb(199, 201, 208);
}

.navbar {
    height: 60px;
    width: 100%;
    line-height: 60px;
    position: fixed;
    background: rgb(61, 71, 91);
    z-index: 1000;
}

.navbar .title {
    position: absolute;
    height: 45px;
    left: 30px;
    color: white;
    font-weight: 700;
    font-size: 22px;
}

.container {
    width: 100%;
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
}

.visual-left, .visual-right {
    height: calc(100% - 40px);
    margin: 20px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px #888888;
    position: absolute;
}

.visual-left {
    width: 40%;
}

.visual-right {
    width: calc(60% - 60px);
    left: calc(40% + 20px);
}

.bar{
	fill:#f37338;
}
text.label{
	fill: #f1f1f1;
	color: #f1f1f1;
	font-size: 20px;
	font-weight: bold;
}
text.category{
	fill: #f1f1f1;
	font-size: 14px;
}

text.location-id {
    font-size: 8px;
}

.head {
    width: calc(100% - 20px);
    height: 35px;
    line-height: 35px;
    background: rgb(90, 106, 133);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 20px;
}

.body {
    width: 100%;
    height: calc(100% - 35px);
}